html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.liga-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.liga-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 220px;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
.liga-card:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.liga-card img {
    max-width: 100%;
    border-radius: 10px;
    height: 130px;
    object-fit: cover;
}
.liga-card h2 {
    margin-top: 10px;
    font-size: 1.2rem;
}
